body {
  /* remove margins and scroll bars */
  margin: 0;
  overflow: hidden;
  background-color:#2D7DD2;
  /* style text */
  text-align: center;
  font-size: 22px;
  font-family: Sans-Serif;

  /* color text */
  color: #444;
}

h1 {
  /* position the heading */
  position: absolute;
  width: 100%;

  /* make sure that the heading is drawn on top */
  z-index: 1;
}

#scene-container1 {
  /* tell our scene container to take up the full page */
  position: absolute;
  width: 640px;
  height: 500px;
  left:0px;
  top: 0px;
  /*
    Set the container's background color to the same as the scene's
    background to prevent flashing on load
  */
  background-color: rgb(0, 0, 0);
}

#scene-container2 {
  /* tell our scene container to take up the full page */
  position: absolute;
  width: 640px;
  height: 500px;
  left:640px;
  top: 0px;
  /*
    Set the container's background color to the same as the scene's
    background to prevent flashing on load
  */
  background-color: rgb(0, 0, 0);
}

#scene-container3 {
  /* tell our scene container to take up the full page */
  position: absolute;
  width: 640px;
  height: 500px;
  left:1280px;
  top: 0px;

  /*
    Set the container's background color to the same as the scene's
    background to prevent flashing on load
  */
  background-color: rgb(0, 0, 0);
}

#pagina {
  position: relative;
  background-color:#2D7DD2;
  width: 900px;
  height: 500px;
  left:100px;
  top: 50px;
}

#tensor1{
text-align: left;
position: absolute;
width: 30%;
height: 40%;
background-color:#2D7DD2;
left: 0px;
bottom: 0px;
margin: 0;
}
#tensor2{
  text-align: left;
position: absolute;
width: 30%;
height: 40%;
background-color:#2D7DD2;
left:640px;
bottom: 0px;
margin: 0;
}

#tensor3{
  text-align: left;
position: absolute;
width: 30%;
height: 40%;
background-color:#2D7DD2;
left: 1280px;
bottom: 0px;
}