body {
  /* remove margins and scroll bars */
  margin: 0;
  overflow: hidden;

  /* style text */
  text-align: center;
  font-size: 12px;
  font-family: Sans-Serif;

  /* color text */
  color: #444;
}

h1 {
  /* position the heading */
  position: absolute;
  width: 100%;

  /* make sure that the heading is drawn on top */
  z-index: 1;
}

#scene-container {
  /* tell our scene container to take up the full page */
  position: relative;
  width: 100%;
  height: 100%;

  /*
    Set the container's background color to the same as the scene's
    background to prevent flashing on load
  */
  background-color: rgb(235, 135, 135);
}

#slider-container {
  position: absolute;
  top: 20px;
  left: 100px;
  width: 100px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
}

#progress-bar-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 90%;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  z-index: 100;
}

#progress-bar {
  height: 100%;
  background-color: #4caf50;
  width: 0%;
  border-radius: 10px;
}